[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"
mypy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
e1839a8 = {editable = true,path = "."}

[scripts]
test = "python tests/test.py"
docs = "sphinx-build -b html docs/source docs/build"
build = "python setup.py sdist bdist_wheel"
